*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #333333;
}

/* styling header */
.header-navigation {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  background-color: #f8f9fa;
  margin-bottom: 40px;
}

.header-navigation a {
  text-decoration: none;
  cursor: pointer;
}

.logo-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  width: 45px;
}

.logo-text {
  font-size: 20px;
  color: #333333;
}

.logo-text:hover {
  color: #4671a698;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}

.nav-list li {
  font-size: 20px;
  cursor: pointer;
}

.nav-list li:hover {
  color: #4671a698;
}
/* end of styling header */

/* styling about-section */
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 40px;
}

.about-section {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.hello-message {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 12px;
}

h1 {
  font-size: 40px;
  margin-bottom: 8px;
  color: #4671a6;
}

.about-section h2 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #4671a6;
  font-weight: 300;
}

.about-section-text {
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: #212529;
}

.portrait {
  height: 240px;
  border-radius: 8px;
  box-shadow: #63636333 0px 2px 8px 0px;
}
/* end of styling about-section */

/* styling slider section */
.slider {
  background: #ffffff;
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.slider .slide {
  height: 100px;
  width: 150px;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotate(180deg);
}

.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    #ffffff 0%,
    #ffffff00 100%
  );
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider .slide-track {
  animation: slide 40s linear infinite;
  display: flex;
  width: 1800px;
}

.slider .skill-img {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .skill-name {
  text-align: center;
  color: #0007;
  font-weight: 500;
}

@keyframes slide {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-900px);
  }
}
/* end of styling slider section */

/*styling slogan section */
.slogan-container {
  background-color: #f8f9fa;
  height: 214px;
}

.slogan-container .slogan {
  max-width: 60%;
  font-size: 38px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  padding: 50px 0;
  margin: 50px auto 0;
  color: #4671a6;
}
/*end of styling slogan section */

/*styling portfolio section */
.projects-container {
  max-width: 80%;
  margin: 50px auto 0;
  padding-top: 20px;
  text-align: center;
  background-color: #fff;
}

.projects-container h3 {
  color: #4671a6;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 10px;
  margin: 0 auto 50px;
}

.projects-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-item {
  height: 270px;
  padding: 5px;
  text-align: center;
  margin-bottom: 40px;
  /* box-shadow: #00000029 0px 3px 6px, #0000003b 0px 3px 6px; */
}

.project-head {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 16px;
}

.project-head h4 {
  /* color: #4671a6; */
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
}

.project-head p {
  font-size: 12px;
  font-weight: 500;
}

.project-image {
  width: 190px;
  height: 150px;
  border: 0.1px solid #e3e3e4;
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 16px;
  cursor: pointer;
  transform: scale(0.9);
}

.project-image:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
}

.project-image img {
  max-width: 100%;
  height: auto;
}

.learn-button {
  background-color: #4671a6b3;
  border: 1px solid #4671a6b3;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 9px;
  text-decoration: none;
}

.learn-button:hover {
  background: linear-gradient(to bottom, #4671a698, #4671a6);
}
/*end of styling portfolio section */

/*styling footer section */
footer {
  margin-top: 20px;
}

.footer-icons {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  height: 80px;
}

.fa-brands,
.fa-solid {
  color: #4671a0;
}

footer:hover .fa-brands,
footer:hover .fa-solid {
  transform: scale(1.5);
  transition: all 500ms ease-out;
}

.fa-brands:hover,
.fa-solid:hover {
  color: #333333;
}

/*end of styling footer section */
